<section class="vbox unmTabs" id="manager-main">
    <header class="dker header bg-default">
        <div class="btn-group"><a class="btn btn-ghost btn-success btn-xs unmTab" unmTab=1>Missed Chats</a></div>
        <div class="btn-group pull-right"><a class="btn btn-ghost btn-primary btn-xs" preview type="get_missed">&nbsp;<i class="fa fa-refresh"></i>&nbsp;</a><a class="btn btn-ghost btn-danger btn-xs" data-toggle="class:open" data-target="#manager-main">&nbsp;<i class="fa fa-times"></i>&nbsp;</a></div>
        <a class="btn btn-ghost btn-primary unmTab hidden" unmTab=2></a>
    </header>
    <section class="bmsg">
        <div class="unmFrame" id="manager-missed" unmTab=1>
            <ul class="list-group"></ul>
        </div>
        <div class="unmFrame" id="manager-preview" unmTab=2 style="display:none"></div>
    </section>
</section>