<div class="hidden">
<form id="mm-chat-attach" style="display:none!important" method="post" enctype="multipart/form-data">
    <input type="file" name="upl" id="mm-attach-upl">
    <input type="submit" name="submit">
</form>
</div>
<div id="unm-file-preview" unmFile="ci"><img></div>