<form id="mm-translator">
        <div><select name="fr" class="form-control"><option value="en">English</option></select></div>
        <div><select name="to" class="form-control"><option value="fr">French</option></select></div>
        <div><button class="btn btn-ghost btn-block btn-success">Translate</button></div>
</form>
