<head>
    <meta charset="UTF-8">
    <title>Dashboard - UNMETERED.Chat</title>
<!--	<link rel="stylesheet" type="text/css" href="//media.unmetered.io/minimize/uchat.css" async><script src="//media.unmetered.io/minimize/chat.js"></script> -->
    <link rel="apple-touch-icon" sizes="180x180" href="/libs/images/icon/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/libs/images/icon/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/libs/images/icon/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/libs/images/icon/manifest.json">
    <link rel="mask-icon" href="/libs/images/icon/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/libs/images/icon/favicon.ico">
    <meta name="msapplication-config" content="/libs/images/icon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
	<link rel="stylesheet" type="text/css" href="/libs/css/bootstrap.min.css" async>
	<link rel="stylesheet" type="text/css" href="/libs/css/font-awesome.min.css" async>
	<link rel="stylesheet" type="text/css" href="/libs/css/animate.css" async>
	<script src="/libs/js/jquery.min.js"></script>
	<script src="/libs/js/jquery-ui.min.js"></script>
	<script src="/libs/js/bootstrap.min.js"></script>
</head>
<?php include('block/home.php') ?>